<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<title>Youtube Results</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>
	<style>

	</style>
	</head>
	<body>
	<h2 style="text-align:center;">Tate Modern Related Videos</h2>
	<nav>
	<ul class="nav navbar-nav">
		<li><a href="/artist/">Artist</a></li>
		<li><a href="/artwork/">Artwork</a></li>
		<li><a href="/youtube/">Youtube</a></li>
	</ul>
	</nav>
	<br/><br/>
		<div th:each="item, iterationStatus : ${results.Items}" style="border-top:solid black 5px;margin-bottom:10px;clear:both;margin-left:auto;margin-right:auto;display:block;">
			<div style="text-align:center;">
			<b>Video Title:</b> <a th:href="@{'http://www.youtube.com/watch?v='+${item.id.videoId}}"><p th:text="${item.snippet.title}">Title</p></a>
			<b>Channel Title:</b><p th:text="${item.snippet.channelTitle}">Channel Title</p>
			<b>Description:</b> <p th:text="${item.snippet.description}">Description</p>
			<img th:src="${item.snippet.thumbnails.medium.url}" style="margin:5px;"/>
			</div>
		</div>
	</body>
</html>