<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Artists</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.css"  rel="stylesheet" type="text/css"  />
    
</head>
<body>
<nav>
<ul class="nav navbar-nav">
		<li><a href="/artist/">Artist</a></li>
		<li><a href="/artwork/">Artwork</a></li>
		<li><a href="/youtube/">Youtube</a></li>
</ul>
</nav>
<br/>
<h1 th:inline="text" class="col-md-4">Hello [[${#httpServletRequest.remoteUser}]]! </h1> 
<table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Title</th>
      </tr>
      <tr th:each="artwork: ${artworks}">
	  	<td><a th:href="@{|/artwork/viewArtwork/${artwork.acno}|}" th:text="${artwork.acno}">Id</a></td>
	  	<td th:text="${artwork.title}">Title</td>
	  </tr>
</table>
  	<form th:action="@{/logout}" method="post" class="col-md-4 col-md-push-4">
      	<input type="submit" value="Sign Out" class="btn btn-primary"/>
   	</form>
</body>
</html>